@import 'tailwindcss';

/* ---------------------------------------    tabform start    ----------------------------*/

.App {
  font-family: sans-serif;
  text-align: center;
}

.heading-container {
  display: flex;
}

.heading {
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.tab-body {
  display: flex;
  border: 1px solid black;
  height: 200px;
  padding: 5px;
}

.input {
  border: 1px solid black;
  padding: 2px;
  /* margin: 5px; */
}

.error {
  color: red;
  display: flex;
  justify-content: center;
  font-size: small;
}

/* ----------------------------------------------     tabform end    -------------------------------------------- */

/* ---------------------------------------------    pagination start    ------------------------------------------- */

.product-card {
    display: flex;
    width: 160px;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.product-img {
    width: 150px;
    height: 150px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
}

.page-number {
    padding: 5px;
    margin: 2px;
    border: 1px solid black;
    cursor: pointer;
}

.pagination-conatainer {
    padding: 20px;
}

.active {
    background-color: aqua;
}

/* ---------------------------------------------  pagination end  ----------------------------------------------- */
